<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.tonnyl.latticify">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".LatticifyApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <data
                    android:host="tonnyl.github.io"
                    android:path="/callback"
                    android:scheme="https" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dribbble.com"
                    android:pathPattern="/shots/.*"
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <activity
            android:name=".ui.chat.ChatActivity"
            android:label="@string/channel"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.message.MessageActivity"
            android:label="@string/message"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.channel.profile.ChannelProfileActivity"
            android:label="@string/channel_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.status.SetStatusActivity"
            android:label="@string/set_status"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.channels.add.AddChannelActivity"
            android:label="@string/add_channel"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.snooze.SnoozeNotificationsActivity"
            android:label="@string/snooze_notifications"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/search"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.channel.edit.EditChannelActivity"
            android:label="@string/edit_channel"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.channel.notifications.NotificationsActivity"
            android:label="@string/notifications"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.file.FileActivity"
            android:label="@string/file"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.WebSocketService" />

        <service
            android:name=".ui.auth.AuthenticationService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />

        </service>

    </application>

</manifest>